# 忽略所有 . 开头的文件和目录
.*

# 但以下文件需要保留跟踪
!.gitignore

.DS_Store
node_modules
/dist
/server


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.opencode/
.superpowers/
CHANGELOG.md
